<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Upload song</title>>
        {% else %}
        <title>API - Upload song</title>
        {% endif %}
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8339232019256390",
          enable_page_level_ads: true
     });
</script>
    </head>
    <body>
        <div>
            Music Streaming Platform Service: 
            <a href="/">Home</a>
            <a href="/upload/song">Upload song</a>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
