<!DOCTYPE html>
<html>
  <head>
    <title>Music Streaming Platform service - Songs API</title>
  </head>
  <body>    
    <table class="centered thick-border">
        <tr>
                <th>Album Name</th>
                <th>Album Url</th>
                <th>Author</th>
                <th>Song Url</th>
                <th>Tags</th>>
                <th>Title</th>
        </tr>
        {% for k, v in songObj.items() %}
                <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                </tr>
        {% endfor %}
</table>
  </body>
</html>